__pycache__/
venv/
wandb/
checkpoints/
exploration/
run_exps/
plots/
playground.py
butterfly_comperasion.err
butterfly_comperasion.out
slurm*.err
slurm.out
topk_samples.json
openai_key.txt
neuropedia_token.txt
openai_key_personal.txt
W_enc_gemma-scope-2b-pt-res-canonical_layer_24_width_16k_canonical.pt
tokens/
glove50emb.npy
glove50embwords.txt